    <thead >
    <tr>
        <th class="text-center">Status</th>
        <th>Jugador</th>
        <th class="text-center">Precio</th>
        <th class="text-center">= broker</th>
        <th class="text-center">Últ 3</th>
        <th class="text-center">Pos.</th>
        <th class="text-center">Val.</th>

    </tr>
    </thead>
    <tbody align="center">
        #foreach( $smData in $smDataList )
        <tr>
            <td>$!smData.status</td>
            <td align="left">$!smData.name</td>
            <td>$!smData.marketData.get("PRICE")</td>
            <td>$!smData.marketData.get("KEEP_BROKER")</td>
            <td>$!smData.marketData.get("LAST_THREE_VAL")</td>
            <td>$!smData.position</td>
            <td>$!smData.score</td>

        </tr>
      #end
    </tbody>
