
    <thead>
    <tr>
        <th class="text-center">Val. equipo</th>
        <th class="text-center">Val. sumada</th>
        <th class="text-center">Han jugado</th>
        <th class="text-center">Media</th>
    </tr>
    </thead>
    <tbody align="center">
        <tr>
            <td>$teamData.score</td>
            <td>$teamData.computedScore</td>
            <td>$teamData.usedPlayers</td>
            <td>$teamData.meanScorePerPlayer</td>
        </tr>
    </tbody>
