<!DOCTYPE html>
<html>
<head>
    #parse( "../include/header.vm" )

<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter({
            widgets: ['zebra']
            });
    }
);

</script>

<style>
    .tablesorter tr[style] td {background: transparent}
    .tablesorter tr {    border-bottom:1pt solid white }
</style>

</head>
<body>
    <h1>Supermanager - Previsión para la jornada $matchNumber</h1>
        <table id="myTable" class="tablesorter">
            #parse("../include/playersWizard.vm")
        </table>
</body>
</html>



