<!DOCTYPE HTML>
<html>
<head>
    <title>SuperManager</title>
    #parse( "./include/header.vm" )
</head>
<body>
<h1>Error</h1>
<p>$message</p>
<p>$!errorMessage</p>
<p>$!stacktrace</p>
</body>
</html>