<!DOCTYPE HTML>
<html>
<head>
    <title>SuperManager</title>
    #parse( "./include/header.vm" )
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>Índice</h1>
                <ul>
                    <li> <a href="/users/teams.html"  class="btn btn-info" role="button">Listado de tus equipos</a></li>
                    <li> <a href="/players/news.html"  class="btn btn-info" role="button">Dudas/Bajas de última hora</a></li>
                </ul>
            </div>
         </div>
    </div>
</body>
</html>