<!DOCTYPE HTML>
<html>
<head>
    <title>SuperManager</title>
    #parse( "./include/header.vm" )
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>Carga de estadísticas de liga privada</h1>
                $message
            </div>
         </div>
    </div>
</body>
</html>