<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" id="" media="print, projection, screen">
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);

</script>
</head>
<body>
    <h1>Equipos</h1>

    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Base-M</th>
        <th>Base-L</th>
        <th>Base-V</th>
        <th>Base-Rec-M</th>
        <th>Base-Rec-L</th>
        <th>Base-Rec-V</th>
        <th>Alero-M</th>
        <th>Alero-L</th>
        <th>Alero-V</th>
        <th>Alero-Rec-M</th>
        <th>Alero-Rec-L</th>
        <th>Alero-Rec-V</th>
        <th>Pivot-M</th>
        <th>Pivot-L</th>
        <th>Pivot-V</th>
        <th>Pivot-Rec-M</th>
        <th>Pivot-Rec-L</th>
        <th>Pivot-Rec-V</th>


    </tr>
    </thead>
    <tbody>
         #foreach( $teamEntry in $teams )

    #set ($team = $teamEntry.getValMap() )
        <tr>
            <td>$teamEntry.name</td>
            <td>$team.get("B").val</td>
            <td>$team.get("B").valL</td>
            <td>$team.get("B").valV</td>
            <td>$team.get("B").valRec</td>
            <td>$team.get("B").valRecL</td>
            <td>$team.get("B").valRecV</td>

            <td>$team.get("A").val</td>
            <td>$team.get("A").valL</td>
            <td>$team.get("A").valV</td>
            <td>$team.get("A").valRec</td>
            <td>$team.get("A").valRecL</td>
            <td>$team.get("A").valRecV</td>

            <td>$team.get("P").val</td>
            <td>$team.get("P").valL</td>
            <td>$team.get("P").valV</td>
            <td>$team.get("P").valRec</td>
            <td>$team.get("P").valRecL</td>
            <td>$team.get("P").valRecV</td>

        </tr>
      #end
    </tbody>
    </table>




</body>
</html>



