<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" id="" media="print, projection, screen">
<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter();
    }
);

</script>
</head>
<body>
    <h1>Supermanager</h1>

    <table id="myTable" class="tablesorter">
    <thead>
    <tr>
        <th>Jugador</th>
        <th>Posición</th>
        <th>Equipo</th>
     <!--   <th>Val-L</th> -->
     <!--   <th>Val-V</th> -->
        <th>Local?</th>
        <th>Contra?</th>

        <th>Broker</th>
        <th>Broker =</th>
        <th>Media Equipo</th>
        <th>Media Rec Otro</th>
        <th>Media Equipo L/V</th>
        <th>Media Rec Otro L/V</th>

        <th>Media Rec Posi Otro-C</th>
        <th>Media Rec Posi Otro-M</th>
        <th>Media Rec Posi Otro-L</th>
        <th>Cal-Corto</th>
        <th>Cal-Medio</th>
        <th>Cal-Largo</th>

    </tr>
    </thead>
    <tbody>
         #foreach( $smData in $smDataList )
        <tr>
            <td>$smData.playerId</td>
            <td>$smData.playerPosition</td>
            <td>$smData.teamName</td>
          <!--  <td>$smData.playerLocalVal</td> -->
          <!--  <td>$smData.playerVisitorVal</td> -->
            <td>$smData.localOrVisitor</td>
            <td>$smData.otherTeamName</td>

            <td>$smData.broker</td>
            <td>$smData.keepBroker</td>
            <td>$smData.teamVal</td>
            <td>$smData.otherTeamReceivedVal</td>
            <td>$smData.teamValAsLV</td>
            <td>$smData.otherTeamReceivedValAsLV</td>

            <td>$smData.playerOtherTeamReceivedValShort</td>
            <td>$smData.playerOtherTeamReceivedValMedium</td>
            <td>$smData.playerOtherTeamReceivedValLong</td>

            <td>$smData.calendarBoostShort</td>
            <td>$smData.calendarBoostMedium</td>
            <td>$smData.calendarBoostLong</td>


        </tr>
      #end
    </tbody>
    </table>



</body>
</html>



