<!DOCTYPE html>
<html>
<head>
#parse( "../include/header.vm" )
<script>

 $(document).ready(function() {

   $('.containerts').each(function(i) {
     $(this).children(".tablesorter")
       .tablesorter({
         widthFixed: true,
         widgets: ['zebra']
       });
   });

   (function countdown(remaining) {
            if(remaining === 0)
                location.reload(true);
            document.getElementById('countdown').innerHTML = "Se actualizará en " + remaining + " segundos";
            setTimeout(function(){ countdown(remaining - 1); }, 1000);
        })(60);
 });

</script>
    <style type="text/css">
body{
background-color: #f7f7f7
}
    </style>
</head>
<body>

<div align="right" id="countdown"></div>

<h1>Resumen de tus equipos</h1>
<div align="center" class="containerts">
    #set ($map = $teamMap)
    <table style="width: 80%" id="myTable-overview" class="tablesorter">
        <thead>
        <tr>
            <th>Equipo</th>
            <th>Valoración</th>
            <th>Valoración sumada</th>
            <th>Han jugado</th>
            <th>Media por jugador</th>
            <th>Proyección</th>
        </tr>
        </thead>
        #foreach( $key in $map.keySet())
        <tr>
            #set ($teamData = $map.get($key))
                <td>$key</td>
            <td>$teamData.score</td>
            <td>$teamData.computedScore</td>
            <td>$teamData.usedPlayers</td>
            <td>$teamData.meanScorePerPlayer</td>
            <td>$teamData.scorePrediction</td>
        </tr>
        #end
    </table>
</div>
<h1>Detalle de tus equipos</h1>
<div align="center" class="containerts">
    #set ($map = $teamMap)
    #foreach( $key in $map.keySet())
        #set ($smDataList = $map.get($key).playerList)
        #set ($teamData = $map.get($key))

        <h3>$key - $teamData.score ($teamData.computedScore) </h3>
        <table style="width: 80%" id="myTeamTable-$key" class="tablesorter">
            #parse("../include/teamTable.vm")
        </table>

        <table style="width: 90%" id="myTable-$key" class="tablesorter">
            #parse("../include/playersTable.vm")
        </table>
    #end
</div>

</body>
</html>
